<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>


<script type="text/javascript">
   window.staticImages = {
     logoWhite: "<%= asset_url('logoWhite.svg') %>",
     logoBlue: "<%= asset_url('logoBlue.svg') %>",
     signup1 : "<%= asset_url('yellow.jpg') %>",
     signup2 : "<%= asset_url('brown.jpg') %>",
     signup3 : "<%= asset_url('orange.jpg') %>"
   }
</script>


<main id="root"></main>
